.title {
    color: transparent;
    background-position: 40% 50%;
    -webkit-background-clip: text;
    position: relative;
    background-color: var(--primary-500);
    background-image: url("../../../public/red-baloon.png") ;
    background-size: 40%;
    background-repeat: no-repeat;
    opacity: 0;
    animation: fadeIn 1.5s both;
    cursor: grab;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 0.3;
    }
    100% {
        opacity: 1;
    }
}