@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
    --background: #ecebeb;
    --primary: #2b3cc9;
}

@media (prefers-color-scheme: light) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
        --background: #191818;
        --primary: #f1ed0e;

    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

main:before {
    content: "";
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: var(--background);
    animation: fadeIn 1.5s both;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 0.3;
    }
    100% {
        opacity: 1;
    }
}

@keyframes comeIn {
    0% {
        transform: translateY(100vh) scale(0.1);
    }
    40% {
        transform: translateY(0) scale(0.3);
    }
    100% {
        transform: translateY(0) scale(1);
    }
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }

    .depth {
        text-shadow: 0 4px 4px #ffffff61, 0 0 0 #8ca2c045, 0 4px 4px transparent;
    }
}
